.header-modal {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-height: screen;
    margin: -6px;
    .top-modal {
        display: flex;
        flex: 0;
        align-items: center;
        justify-content: space-between;
        height: 16px;
        padding-right: 3px;
        padding-left: 6px;
        background-color: #ffee33;
    }
}