<div fxFlex fxLayout="column">
    <span class="text-center text-xl bold bg-red-300" aria-label="Marvel - Histórias em quadrinhos">Marvel - Histórias em quadrinhos</span>
    <!-- <app-navbar></app-navbar>
    <input 
    type="text"
    placeholder="Pesquise..."
    class="rounded text-sm text-black p-2 outline-none">-->
    <div fxLayout="row wrap"> 
        <!-- posicionamento dos cards -->
        <div 
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            *ngFor="let comic of comics | async"
            style="padding: 5px;"> 
            <mat-card>
                <img 
                    mat-card-image 
                    src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" 
                    [alt]="comic.title"
                    [attr.aria-label]="comic.title"
                >
                <mat-card-title class="text-center truncate" [attr.aria-label]="comic.title">
                    {{ comic.title }}
                </mat-card-title>
                <!-- detalhes - histórias em quadrinhos -->
                <mat-card-footer>
                    <button 
                        (click)="showDetailsComics(comic)" 
                        fxFlex mat-raised-button 
                        color="primary"
                        aria-label="Ver detalhes"
                    >
                        Ver detalhes
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>