<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport>
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Hist. em quadrinhos</a>
            <a mat-list-item href="#">Criadores(as)</a>
            <a mat-list-item href="#">Eventos</a>
            <a mat-list-item href="#">Séries</a>
            <a mat-list-item href="#">Histórias</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="flex justify-between">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Marvel - personagens</span>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container> -->