<div fxFlex fxLayout="column">
    <app-navbar></app-navbar>
    <input 
    type="text"
    placeholder="Pesquise..."
    class="rounded text-sm text-black p-2 outline-none">
    <div fxLayout="row wrap">
        <!-- posicionamento dos cards -->
        <div 
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            *ngFor="let creator of creators | async"
            style="padding: 5px;"> 
            <mat-card>
                <img 
                    mat-card-image 
                    src="{{ creator.thumbnail.path }}.{{ creator.thumbnail.extension }}" 
                    [alt]="creator.fullName"
                    [title]="creator.fullName"
                >
                <mat-card-title class="text-center" [title]="creator.fullName">
                    {{ creator.fullName }}
                </mat-card-title>
                <!-- detalhes - personagens -->
                <mat-card-footer>
                    <!-- <button 
                        (click)="openDialog(character)" 
                        fxFlex mat-raised-button 
                        color="primary"
                        title="Ver detalhes"
                    >
                        Ver detalhes
                    </button> -->
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>