<div fxFlex fxLayout="column">
    <span class="text-center text-xl bold bg-red-300" aria-label="Marvel - Personagens">Marvel - Personagens</span>
    <div *ngIf="showLoaderCharacters" class="mt-5 flex justify-center">
        <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row wrap">
        <!-- posicionamento dos cards -->
        <div 
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            *ngFor="let character of dataCharacters"
            style="padding: 5px;"> 
            <mat-card>
                <img 
                    mat-card-image 
                    src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" 
                    [alt]="character.name"
                    [attr.aria-label]="character.name"
                >
                <mat-card-title class="text-center" [attr.aria-label]="character.name">
                    {{ character.name }}
                </mat-card-title>
                <!-- detalhes - personagens -->
                <mat-card-footer>
                    <button 
                        (click)="showDetailsCharacters(character)" 
                        fxFlex mat-raised-button 
                        color="primary"
                        aria-label="Ver detalhes"
                    >
                        Ver detalhes
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>