.header-modal {
    display: flex; 
    flex: 0;
    align-items: center; 
    justify-content: center;
    background-color: rgb(79, 70, 229);
    font-family: 'Oswald', sans-serif;
}
.footer-modal {
    background-color: rgb(79, 70, 229);
}
h3 {
    font-family: 'Oswald', sans-serif;
}
li, p, span {
    font-family: 'Fira Sans', sans-serif;
}