<div class="flex flex-col min-w-200 max-h-screen -m-6">
    <!-- Header -->
    <div class="header-modal">
        <div class="text-lg text-white font-medium" title="Informações - Personagem: {{ details.character.name }}">Informações - Personagem: {{ details.character.name }}</div>
    </div>
    <div
        class="flex flex-col flex-auto p-6 sm:p-8"
    >
        <h3 title="Descrição">Descrição:</h3> 
            <p [title]="details.character.description">
                {{details.character.description}}
            </p>
        <hr>
        <ul>
            <h3 title="Histórias em quadrinhos">Histórias em quadrinhos:</h3>
            <span *ngFor="let character of details.character.comics.items">
                <li class="list-inside" [title]="character.name">{{character.name}}</li>              
            </span>
        </ul>
        <hr>
        <ul>
            <h3 title="Eventos">Eventos:</h3>
            <span *ngFor="let character of details.character.events.items">
                <li class="list-inside" [title]="character.name">{{character.name}}</li>              
            </span>
        </ul>
        <hr>
        <ul>
            <h3 title="Series">Series:</h3>
            <span *ngFor="let character of details.character.series.items">
                <li class="list-inside" [title]="character.name">{{character.name}}</li>              
            </span>
        </ul>
        <hr>
        <ul>
            <h3 title="Histórias">Histórias:</h3>
            <span *ngFor="let character of details.character.stories.items">
                <li class="list-inside" [title]="character.name">{{character.name}}</li>              
            </span>
        </ul>
        <hr>

    </div>
    <!-- footer -->
    <div class="p-4 flex justify-end footer-modal">
        <button
            class="sm:mx-3 bg-red-300"
            mat-stroked-button            
            (click)="closeModalCharacters()"
            title="Fechar modal"
            >
            <span title="Fechar modal">Fechar</span>
        </button>
    </div>
</div>