<div fxFlex fxLayout="column">
    <span class="text-center text-xl bold bg-red-300" aria-label="Marvel - Eventos">Marvel - Eventos</span>
    <div *ngIf="showLoaderEvents" class="mt-5 flex justify-center">
        <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row wrap">
        <!-- posicionamento dos cards -->
        <div 
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            *ngFor="let event of dataEvents"
            style="padding: 5px;"> 
            <mat-card>
                <img 
                    mat-card-image 
                    src="{{ event.thumbnail.path }}.{{ event.thumbnail.extension }}" 
                    [alt]="event.title"
                    [attr.aria-label]="event.title"
                >
                <mat-card-title class="text-center" [attr.aria-label]="event.title">
                    {{ event.title }}
                </mat-card-title>
                <!-- detalhes - eventos -->
                <mat-card-footer>
                    <button 
                        (click)="showDetailsEvents(event)" 
                        fxFlex mat-raised-button 
                        color="primary"
                        aria-label="Ver detalhes"
                    >
                        Ver detalhes
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>